
  <div class="book" [@fadeIn]="''">
      <div class="form-group">
        <label for="formGroupExampleInput">Title:</label>
        <span>{{currentBook.title}}</span>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Author:</label>
        <span>{{currentBook.author}}</span>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Genre:</label>
        <span>{{currentBook.genre}}</span>
      </div>
     
      <div class="form-group">
        <label for="formGroupExampleInput2">Description:</label>
        <span>{{currentBook.description}}</span>
      </div>
      
      <div class="form-group">
        <label for="formGroupExampleInput2">ISBN:</label>
        <span>{{currentBook.isbn}}</span>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Publication Date:</label>
        <span>{{currentBook.publication_date | date: 'dd/MM/yyyy'}}</span>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Price:</label>
        <span>{{currentBook.price}}</span>
      </div>
    </div>
